@import "tailwindcss";

/* daisyUI with two extra themes `aqua` and `retro`  */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, retro, aqua;
}

/** Used only on `Customizing` docs **/
@plugin "daisyui/theme" {
    name: "mytheme";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */
    --radius-field: 2.25rem;
}

/** Used only on `Customizing` docs **/
@plugin "daisyui/theme" {
    name: "mytheme2";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */
}

/** Used only on `Customizing` docs **/
[data-theme="mytheme2"] {
    .input {
        @apply outline-none;
    }

    .fieldset-legend {
        @apply text-[1.09rem] font-bold;
    }

    .fieldset-label {
        @apply italic;
    }

    .select {
        @apply outline-none  rounded-3xl;
    }
}

/** Dark variable support */
@custom-variant dark (&:where(.dark, .dark *));

/** maryUI **/
@source "../../app/**/**/*.php";
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/** Laravel 12 defaults **/
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

/** This comes with Laravel 12 **/
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
    @apply my-5 leading-8 text-base-content/70
}

/**
* Docs `a` tag
*/

.docs a {
    @apply underline
}

.docs .mockup a, .docs .mary-header-anchor a, .api-generator a {
    @apply !no-underline
}

/**
* Docs `ul`/`li` tags
*/

.docs > ul li {
    @apply list-disc ml-10 pb-2
    text-base-content/70
}


/**
* Hide some elements on code blocks
*/
.docs-hide {
    @apply hidden
}


/**
* Adjust for anchor links considering top nav height
*/

.mary-header-anchor {
    @apply scroll-mt-30
}

/**
* Spotlight
*/

#marySpotlight a {
    @apply no-underline
}

/**
* Mary Table paginator
*/

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}

/* Just for the website */
.mary-table-pagination p {
    @apply my-0
}

/**
* Image Library landing page demo
*/

#image-library-landing-demo .fieldset-label {
    @apply text-base-100
}

#image-library-landing-demo .relative {
    @apply bg-base-100 rounded-lg
}

#image-library-landing-demo .progress {
    @apply !progress-neutral
}

/**
* Cropper
*/

.cropper-point {
    width: 10px !important;
    height: 10px !important;
}

/**
 * EasyMDE demo
 */

.EasyMDEContainer h1 {
    @apply text-4xl font-bold mb-5
}

.EasyMDEContainer h2 {
    @apply text-2xl font-bold mb-3
}

.EasyMDEContainer h3 {
    @apply text-lg font-bold mb-3
}

.EasyMDEContainer .CodeMirror {
    @apply bg-base-100 text-base-content
}

.EasyMDEContainer .CodeMirror {
    @apply bg-base-100 text-base-content
}

.EasyMDEContainer .CodeMirror-cursor {
    @apply border border-b-base-100
}

.EasyMDEContainer .editor-toolbar > button:hover, .EasyMDEContainer .editor-toolbar > .active {
    @apply bg-base-100 text-base-content
}

/**
* Torchlight style and `code`/`pre` tags
*/

.landing pre {
    @apply !my-0
}

pre {
    @apply my-4 rounded-lg overflow-x-auto;
}

pre code.torchlight {
    @apply block rounded-lg py-4 min-w-max text-sm;
}

pre code.torchlight .line {
    @apply px-4 py-0.5;
}

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

code:not(.torchlight) {
    @apply bg-base-200 py-0.5 px-2 mx-1 rounded text-sm text-red-400
}
